@use "bs" as *;

.navbar {
  background-color: #fbf9f8;
  .btn-close {
    box-shadow: none !important;
  }
  .offcanvas-body {
    p {
      margin: 0;
    }
  }
  .browse-list {
    padding: 0;
    li {
      a {
        color: $info;
        text-decoration: none;
        font-size: 0.9rem;
      }
    }
  }
  .browse-list-left {
    padding-right: 3.685rem;
    li {
      a {
        color: $info;
        text-decoration: none;
        font-size: 0.8rem;
      }
    }
  }

  .interests {
    a {
      color: $info;
      text-decoration: none;
      display: block;
    }
  }

  .downloads {
    p {
      margin-bottom: 2rem;
    }
    img {
      width: 50%;
      height: auto;
      margin-bottom: 0.5rem;
      cursor: pointer;
    }
  }

  .icons {
    margin: 2rem 0;
    i {
      color: $secondary;
      font-size: 1.4rem;
      text-align: center;
      transition: 300ms;
      cursor: pointer;
      &:hover {
        color: $info;
      }
    }
  }
}

#header {
  padding-top: 6rem;
  background-color: #fbf9f8;
  .hero-banner {
    background: url("../img/hero-banner-1.jpg");
    background-position: top;
    background-size: cover;
    width: 100%;
    height: 300px;
  }
}

#subscription {
  margin: 5rem 0;
  .subscription-icons {
    list-style: none;
    padding: 0;
    column-gap: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto -32px;

    .subscription-icon {
      align-items: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      row-gap: 8px;
      width: 148px;
      height: 135px;

      i {
        color: $info;
        font-weight: bold;
      }
      p {
        font-weight: 700;
      }
    }
  }
  @media (max-width: 1080px) {
    .subscription-icons {
      column-gap: 0;
      max-width: 512px;
    }
  }
}

#news {
  .carousel-item {
    .card {
      width: 100%;
      height: 230px;
      padding: 1rem 1rem 1.2rem;
      .card-body {
        .card-title {
          font-weight: 500;
          text-transform: uppercase;
        }
        hr {
          border-style: solid;
          border-width: 0 0 1px;
          margin: 24px 0;
          width: 40px;
        }
        .card-text {
          font-weight: 600;
        }
      }
    }
  }
}

#collections {
  margin: 3rem 0;
  h1 {
    line-height: 1.3;
    margin-bottom: 2rem;
  }
  .book-collections {
    list-style: none;
    padding: 0;
    align-items: center;
    column-gap: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 808px;
    row-gap: 4px;
    width: 100%;

    li {
      display: list-item;
      text-align: -webkit-match-parent;
      margin-bottom: 0.5rem;
      a {
        background-color: transparent;
        text-decoration: none;
        img {
          // height: auto;
          // width: 144px;
          height: 144px;
          object-fit: cover;
        }
      }
    }
  }

  @media (max-width: 512px) {
    .book-collections li:nth-child(n + 5) {
      display: none;
    }
  }
}

#footer {
  background-color: #f0f2f9;
  padding: 2rem 0 0.5rem;
  .footer-content {
    ul {
      padding: 0;
      li {
        margin-bottom: 0.575rem;
        a {
          color: $gray-700;
          font-size: 0.8rem;
          text-decoration: none;
          &:hover {
            color: $info;
          }
        }
      }
    }
    .downloads {
      img {
        display: block;
        margin-bottom: 0.5rem;
        cursor: pointer;

        @include media-breakpoint-down(md) {
          width: 50%;
        }
        @include media-breakpoint-down(sm) {
          width: 100%;
        }
      }
    }
  }

  .copyright {
    a {
      text-decoration: none;
      padding-right: 0.4rem;
      font-size: 0.8rem;
      color: $gray-700;
      &:hover {
        color: $info;
      }
      p {
        font-size: 0.8rem;
        margin-bottom: 0;
      }
    }
  }
}

// Form
.modal-header {
  border-bottom: none;
}
.btn-close {
  &:focus {
    box-shadow: none;
  }
}

.modal-form-container {
  width: 100%;
  height: auto;

  .modal-form {
    width: 370px;
    max-width: 360px;
    height: auto;
    margin: 3rem auto;
  }
}

@media screen and (max-width: 400px) {
  .modal-form {
    width: 95% !important;
    height: auto;
  }
}
