@use "bs" as *;

.home {
  width: 100%;
  // height: 200vh;
  header {
    margin-bottom: 5rem;
    .topbar-controller {
      background-color: #fff;
    }
    .topbar-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      height: 4rem;
      position: relative;
      .logo {
        margin: 0;
        a {
          img {
            // display: block;
            width: 7rem;
            height: auto;
            margin-right: 1rem;
          }
        }
      }
      .user {
        display: flex;
        align-items: center;
        .btn-cus {
          min-width: 11rem;
          margin: 0 0.8rem;
          padding: 0.5rem;
          border: 1px solid #1e7b85;
          border-radius: 0.2rem;
          background-color: #1e7b85;
          color: #fff;
          transition: 0.3s;
          &:hover {
            background-color: #17737e;
          }
        }
        .profile {
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 36px;
          height: 36px;
          background-color: #f9faff;
          border: 1px solid #f0f2f9;
          box-sizing: border-box;
          .user-profile {
            cursor: pointer;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
      .sidebar {
        width: 320px;
        height: 100vh;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: -3%;
        padding: 1.5rem;
        .sidebar-header {
          width: 100%;
          display: block;
          .logo {
            img {
              width: 5.5rem;
              height: auto;
            }
          }
          .close-button {
            a {
              float: right;
            }
          }
        }
      }
    }
  }
}
.mobile-profile-info-container {
  h4 {
    font-weight: bold;
    margin-bottom: 1rem;
  }
  ul {
    padding: 0;
    margin-bottom: 2rem;
    li {
      // margin-bottom: 0.7rem;
      padding: 0.7rem 0.4rem;
      transition: 300ms;
      a {
        text-decoration: none;
        color: $gray-700;
        font-size: 1rem;
        i {
          padding-right: 0.7rem;
        }
      }
      &:hover {
        background-color: $gray-200;
      }
    }
  }
}
.for-mobile {
  font-size: 1.2rem;
  .saved-books {
    a {
      text-decoration: none;
      color: $gray-700;
    }
  }
  .books-list {
    ul {
      padding: 0;
      li {
        margin-bottom: 1rem;
        a {
          text-decoration: none;
          color: $gray-700;
        }
        &:not(:last-child)::after {
          content: ">";
        }
      }
    }
  }
}
.btn-cus {
  min-width: 11rem;
  margin: 0 0.8rem;
  padding: 0.5rem;
  border: 1px solid #1e7b85;
  border-radius: 0.2rem;
  background-color: #1e7b85;
  color: #fff;
  transition: 0.3s;
  &:hover {
    background-color: #17737e;
  }
}
.profile {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background-color: #f9faff;
  border: 1px solid #f0f2f9;
  border-radius: 100%;
  box-sizing: border-box;
  // .user-profile {

  // }
  img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    object-fit: cover;
  }

  .profile-info-container {
    // display: none;
    min-width: 260px;
    height: auto;
    position: absolute;
    top: 150%;
    right: 0;
    border: 1px solid $gray-200;
    border-radius: 0.6rem;
    background-color: $white;
    padding: 1.5rem;

    h4 {
      font-weight: bold;
      margin-bottom: 1rem;
    }
    ul {
      padding: 0;
      margin-bottom: 2rem;
      li {
        padding: 0.7rem 0.4rem;
        transition: 300ms;
        a {
          text-decoration: none;
          color: $gray-700;
          font-size: 1rem;
          i {
            padding-right: 0.7rem;
          }
        }
        &:hover {
          background-color: $gray-200;
        }
      }
    }
  }
}
.greeting {
  margin: 0.5rem 0 2rem;
  .profile-picture {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    overflow: hidden;
    cursor: pointer;
    img {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .user-name {
    margin: 0 0 0 1rem;
  }
}
.cp {
  cursor: pointer;
}

.header-banner {
  --content-side-margins: 0px;
  color: $gray-100;
  background: #00283d;
  display: flex;
  justify-content: center;
  margin-bottom: 56px;
  min-height: 16.25em;
  position: relative;
  .left-banner {
    background: url("../img/left-banner.svg");
    width: 20.125em;
    height: 13.5em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    align-self: flex-end;
    position: absolute;
    left: 0;
    bottom: -30px;
  }
  .right-banner {
    background: url("../img/right-banner.svg");
    width: 20.125em;
    height: 13.5em;
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    align-self: flex-end;
    position: absolute;
    right: 0;
    bottom: -40px;
  }
  .text-banner {
    text-align: center;
    margin: 2rem 0;
    padding: 1.5rem;
    h3 {
      color: $gray-200;
    }
    p {
      color: $gray-200;
    }
    button {
      margin: 2.3rem 0 1.5rem;
    }
  }
}

// Main section
main {
  section {
    width: 95%;
    margin: 3rem auto;
  }

  section {
    .sect-container {
      .card-item {
        --accent-background-height: 153px;
        --article-image-height: 131px;
        --article-metadata-height: 179px;
        --cell-width: 190px;
        --detail-padding-bottom: 12px;
        --detail-padding-left: 16px;
        --detail-padding-right: 12px;
        --metadata-max-height: calc(101px + 52px);
        --metadata-margin-top: 56px;
        --metadata-padding: 16px;
        --thumbnail-margin-top: 24px;
        border: 1px solid #e3e6ef;
        cursor: pointer;
        display: grid;
        grid-template-rows: auto minmax(auto, var(--metadata-max-height)) auto;
        outline: none;
        outline-offset: -2px;
        position: relative;
        width: var(--cell-width);
        // margin: 0 1rem 0 0;
        .card-item-title {
          transition: opacity 0.1s cubic-bezier(0.55, 0.085, 0.68, 0.53);
          left: -1px;
          top: -1px;
          right: -1px;
          bottom: -1px;
          width: unset;
          height: unset;
          opacity: 0;

          height: 100%;
          left: 0;
          position: absolute;
          top: 0;
          width: 100%;

          span {
            border: 0;
            clip: rect(0 0 0 0);
            height: 1px;
            width: 1px;
            margin: -1px;
            padding: 0;
            overflow: hidden;
            position: absolute;
          }
        }

        .card-item-header {
          background-color: #e1eaec;
          display: flex;
          height: var(--accent-background-height);
          justify-content: center;
          left: -1px;
          position: relative;
          top: -1px;
          width: calc(var(--cell-width) + 2px);

          span {
            .card-item-img-controller {
              height: var(--thumbnail-small-height);
              width: var(--thumbnail-small-width);
              box-shadow: 0 4px 6px rgb(0 0 0 / 20%);
              --thumbnail-large-height: 283px;
              --thumbnail-large-width: 214px;
              --thumbnail-medium-height: 232px;
              --thumbnail-medium-width: 175px;
              --thumbnail-small-height: 174px;
              --thumbnail-small-width: 132px;
              --thumbnail-xsmall-height: 144px;
              --thumbnail-xsmall-width: 108px;
              border-radius: 2px;
              box-sizing: border-box;
              background-color: $white;
              overflow: hidden;
              position: relative;
              margin-top: 24px;

              .card-item-img {
                width: 100%;
                height: 100%;
                border-radius: inherit;
                visibility: visible;
                overflow-clip-margin: content-box;
                overflow: clip;
              }
            }
          }
        }
        .card-item-body {
          margin-top: var(--metadata-margin-top);
          max-width: calc(var(--cell-width) - var(--metadata-padding) * 2);
          padding: 0 var(--metadata-padding);
        }
        .card-item-footer {
          align-items: center;
          display: flex;
          justify-content: space-between;
          max-width: calc(
            var(--cell-width) - var(--detail-padding-left) -
              var(--detail-padding-right)
          );
          padding: 0 var(--detail-padding-right) var(--detail-padding-bottom)
            var(--detail-padding-left);

          .card-item-rating {
            span {
              i {
                margin-right: 0.2rem;
              }
            }
          }
          .save-to-bookmark {
            i {
              color: $gray-600;
              margin-left: 1.5rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1008px) {
  .header-banner {
    --content-side-margins: 40px;
    justify-content: space-between;
  }
}
@media (max-width: 1008px) {
  .left-banner {
    display: none;
  }
}
@media (max-width: 642px) {
  .header-banner {
    --content-side-margins: 32px;
    min-height: 24em;
  }
}